<div class="header">
  <nav>
    <app-logo [logo]=" '../assets/logo.png' "></app-logo>
    <ul class="nav-wrapper" *ngIf="navItems">
      <ng-container *ngFor="let navItem of navItems">
        <li class="nav-item" *ngIf="navItem.enabled">
          <a
            [routerLink]="[navItem.url]"
            [ngClass]="{'disabled': !navItem.url}"

          >
            {{ navItem.title }}</a>
        </li>
      </ng-container>
      <li *ngIf="showLoginBtn">
        <button
          [routerLink]="['/login']"
          type="button"
          class="login-btn"
        >Login</button>
      </li>
    </ul>
  </nav>
</div>
