<ng-container *ngIf="user">
  <div class="header">User Details of {{ user.name }}</div>
  <div class="user-detail-table">
  <table>
    <tr>
      <th>Username:</th>
      <td>{{ user.username | uppercase }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>{{ user.address | concatFields: 'city':'street' }}</td>
    </tr>
    <tr>
      <th>Phone number:</th>
      <td>{{ user.phone }}</td>
    </tr>
    <tr>
      <th>Website:</th>
      <td>{{ user.website }}</td>
    </tr>
    <tr>
      <th>Company:</th>
      <td>{{ user.company | concatFields: 'name' }}</td>
    </tr>
  </table>
</div>
</ng-container>

<button class="back-btn"><a [routerLink]="['/users']">Go Back</a></button>
