<div class="login-wrapper">
  <form class="login-form" [formGroup]="form">
    <h2 class="login-heading">Sign in</h2>
    <div class="error-wrapper" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="form-group">
    <input class="form-control" name="username" placeholder="Enter email" type="text" formControlName="username" />
      <div class="form-error" *ngIf="form.get('username').touched && form.get('username').invalid">
        <span *ngIf="form.get('username').errors.required">This field is required</span>
        <span *ngIf="form.get('username').errors.email">Please enter valid email address</span>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" name="password" placeholder="Password" type="password" formControlName="password"/>
      <div class="form-error" *ngIf="form.get('password').touched && form.get('password').invalid">
        <span *ngIf="form.get('password').errors.required">This field is required</span>
      </div>
    </div>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="login-btn" type="button" (click)="onSubmit()">Login</button>
    <a class="register-link" [routerLink]="['/auth/register']">Register</a>
  </form>
</div>
